<?xml version="1.0" encoding="utf-8" ?>
<t:sites xmlns:t="urn:thycotic-SiteConfig">
<!-- Doc Links - Secret Server Integrations - main-->
  <t:site key="SSIAutomationAnywhere">/ssi/1.0.0/automation-anywhere/index.md</t:site>
  <t:site key="SSIBluePrism">/ssi/1.0.0/blue-prism/index.md</t:site>
  <t:site key="SSIConnectWise">/ssi/1.0.0/connectwise/index.md</t:site>
  <t:site key="SSIDevolutions">/ssi/1.0.0/devolutions/index.md</t:site>
  <t:site key="SSIIBM">/ssi/1.0.0/ibm/index.md</t:site>
  <t:site key="SSIIdAgent">/ssi/1.0.0/id-agent/index.md</t:site>
  <t:site key="SSIMSFT">/ssi/1.0.0/microsoft/index.md</t:site>
  <t:site key="SSIOkta">/ssi/1.0.0/okta/index.md</t:site>
  <t:site key="SSIOneLogin">/ssi/1.0.0/onelogin/index.md</t:site>
  <t:site key="SSIQualys">/ssi/1.0.0/qualys/index.md</t:site>
  <t:site key="SSIRapid7">/ssi/1.0.0/rapid-7/index.md</t:site>
  <t:site key="SSIRoyalTS">/ssi/1.0.0/royalTS/index.md</t:site>
  <t:site key="SSISaftNet">/ssi/1.0.0/saft-net-luna/index.md</t:site>
  <t:site key="SSISailpoint">/ssi/1.0.0/sailpoint/index.md</t:site>
  <t:site key="SSISAP">/ssi/1.0.0/sap/index.md</t:site>
  <t:site key="SSIServiceNow">/ssi/1.0.0/servicenow/index.md</t:site>
  <t:site key="SSISplunk">/ssi/1.0.0/Splunk/index.md</t:site>
  <t:site key="SSITenable">/ssi/1.0.0/tenable/index.md</t:site>
  <t:site key="SSIUIPath">/ssi/1.0.0/uipath/index.md</t:site>
  <t:site key="SSIWitfoo">/ssi/1.0.0/witfoo/index.md</t:site>

<!-- zip files -->
  <t:site key="SSBluePrism">https://updates.thycotic.net/secretserver/documents/Integrations/BluePrism.zip</t:site>
</t:sites>